{% extends 'base.html' %}
{% block title %}
    Wall of Sheep
{% endblock %}

{% block js %}
    <meta http-equiv="refresh" content="5">
    <link href="{{ url_for('static',filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <style>
        body {
            font-size: 20px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="page-header">Wall of sheep</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Password</th>
                <th>Addr</th>
                <th>User-Agent</th>
            </tr>
            </thead>
            <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.username }}</td>
                    <td>{{ item.password }}</td>
                    <td>{{ item.remote_addr }}</td>
                    <td>{{ item.remote_user }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}